body{
    margin: 0;
    font-family: "Open Sans";

    /*background: rgba(0,0,0,0.64);*/
}
.first-page{
    background-image: url("calls.png");
    background-repeat: no-repeat;
}
.div-calls-redirect{
    position: relative;
    top: 1vh;
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.img-calls-redirect{
    width: 2.7vw;
}
.text-calls-redirect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.8vw;
}
.text-calls,.text-redirect{
    font-weight: 500;
    font-size: 1.7vw;
}
.text-calls{
    color: white;
}
.text-redirect{
    color: #E56717;
}
.text-calls{
    margin-top: -1vh;
}
.div-menu-bars{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 85vw;
    top: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.div-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-menu{
    color: white;
    font-size: 1.7vw;
}
.div-bars{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hr-up{
    width: 2.7vw;
    height: 0.7vh;
    border-radius: 20px;
    background-color: white;
}
.hr-down{
    width: 1.8vw;
    border-radius: 20px;
    height:0.7vh;
    background-color: white;
}
.div-more-info{
    display: flex;
    flex-direction: column;
    padding-left: 8vw;

}
.div-contact-num{
    display: flex;
    flex-direction: column;
}
.text-get-your,.text-corporate,.text-Phone-Number,.Today\.{
    color: white;
    font-size: 4.5vw;
    margin: 0;
    position: relative;
}
.text-Phone-Number{
    color: #E56717;
    font-size: 3.24vw;
}
.div-service{
    padding-top: 6vh;
    display: flex;
    justify-content: flex-start;
    width: 21vw;
}
.text-service{
    color: grey;
}
.div-get-it-now{
    background-color: #E56717;
    color: white;
    width: 18vw;
    font-size: 2vw;
    padding: 1%;
    text-align: center;
    border-radius: 30px;
    margin: 2% 0 15% 0;

}
.hill{
    background-color: white;
    height: 10vh;
    position: relative;
    top: -10vh;
    border-radius: 50% 50% 0 0;
}
.second-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.text-availability{
    font-size: 5.5vw;
    color: rgba(0,0,0,0.8);
    margin: 0;
}
.scroll{
    background-color: #E56717;
    margin-top: 1%;
    position: relative;
    left: 1vw;
    width: 6%;
    height: 2vh;
    border-radius: 64px;
}

.div-available-for{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10vh;
}
.div-startups,.div-small-business,.div-enterprises{
    display: flex;
}
.div-contact-num{
    display: flex;
    flex-direction: column;
}
.div-img-startups,.div-img-small-business,.div-img-enterprises{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-startups,.content-small-business,.content-enterprises{
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-startups,.img-small-business,.img-enterprises{
    width: 4.5vw;
}
.text-learn-more{
    margin:0;
}
.text-small-business,.text-enterprises{
    color: rgba(0,0,0,0.64);
    font-weight: 600;
    font-size: 2vw;
    line-height: 2.5vw;
    margin: 0;
}
.div-search-your-num{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: 2.5vw;
}
.text-search-your-num{
    margin: 0;
}
.div-terms{
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-size: 1.5vw;
    font-weight: 600;
    padding: 8vh 0 5vh 0;
}