body{
    margin: 0;
    font-family: "Open Sans";

    /*background: rgba(0,0,0,0.64);*/
}
.first-page{
    background-image: url("calls.png");
    background-repeat: no-repeat;
}
.div-calls-redirect{
    position: relative;
    top: 1vh;
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.img-calls-redirect{
    width: 2.7vw;
}
.text-calls-redirect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.8vw;
}
.text-calls,.text-redirect{
    font-weight: 500;
    font-size: 1.7vw;
}
.text-calls{
    color: white;
}
.text-redirect{
    color: #E56717;
}
.text-calls{
    margin-top: -1vh;
}
.div-menu-bars{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 85vw;
    top: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.div-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-menu{
    color: white;
    font-size: 1.7vw;
}
.div-bars{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hr-up{
    width: 2.7vw;
    height: 0.7vh;
    border-radius: 20px;
    background-color: white;
}
.hr-down{
    width: 1.8vw;
    border-radius: 20px;
    height:0.7vh;
    background-color: white;
}
.div-more-info{
    display: flex;
    flex-direction: column;
    padding-left: 8vw;

}
.div-contact-num{
    display: flex;
    flex-direction: column;
}
.text-get-your,.text-corporate,.text-Phone-Number,.Today\.{
    color: white;
    font-size: 4.5vw;
    margin: 0;
    position: relative;
}
.text-Phone-Number{
    color: #E56717;
    font-size: 3.24vw;
}
.div-service{
    padding-top: 6vh;
    display: flex;
    justify-content: flex-start;
    width: 21vw;
}
.text-service{
    color: grey;
}
.div-get-it-now{
    background-color: #E56717;
    color: white;
    width: 18vw;
    font-size: 2vw;
    padding: 1%;
    text-align: center;
    border-radius: 30px;
    margin: 2% 0 15% 0;

}
.hill{
    background-color: white;
    height: 10vh;
    position: relative;
    top: -10vh;
    border-radius: 50% 50% 0 0;
}
.second-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.text-availability{
    font-size: 5.5vw;
    color: rgba(0,0,0,0.8);
    margin: 0;
}
.scroll{
    background-color: #E56717;
    margin-top: 1%;
    position: relative;
    left: 1vw;
    width: 6%;
    height: 2vh;
    border-radius: 64px;
}

.div-available-for{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10vh;
}
.div-startups,.div-small-business,.div-enterprises{
    display: flex;
}
.div-contact-num{
    display: flex;
    flex-direction: column;
}
.div-img-startups,.div-img-small-business,.div-img-enterprises{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-startups,.content-small-business,.content-enterprises{
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-startups,.img-small-business,.img-enterprises{
    width: 4.5vw;
}
.text-learn-more{
    margin:0;
}
.text-small-business,.text-enterprises{
    color: rgba(0,0,0,0.64);
    font-weight: 600;
    font-size: 2vw;
    line-height: 2.5vw;
    margin: 0;
}
.div-search-your-num{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: 2.5vw;
}
.text-search-your-num{
    margin: 0;
}
.div-terms{
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-size: 1.5vw;
    font-weight: 600;
    padding: 8vh 0 5vh 0;
}
.fourth-page{
    display: flex;
    margin-top: 40vh;
    flex-direction: row;
    margin-bottom: 25vh;
}
.div-all-features-scroll{
    display: flex;
    flex-direction: column;
    transform: rotate(-90deg);
    position: relative;
    left: 8vw;
}
.text-all-features{
    color: rgba(0,0,0,0.8);
    font-size: 6vw;
    margin: 0;
}
.scroll-af{
    background-color: #E56717;
    margin-top: 2%;
    position: relative;
    left: 4vw;
    width: 11vw;
    height: 2vh;
    border-radius: 64px;
}
.img-mac {
    float: right;
    width: 63vw;
    position: relative;
    left: 0.3vw;
}
.fifth-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}
.div-customers{
    text-align: center;
}
.text-customers{
    color: rgba(0,0,0,0.8);
    font-size: 5vw;
    margin: 0;
}
.scroll-customers{
    background-color: #E56717;
    position: relative;
    width: 8vw;
    height: 1vh;
    border-radius: 64px;
    right: 3vw;
    top: -3vh;
}
.div-about-customers{
    display: flex;
    width: 63vw;
    margin-top: 2vw;
}
.img-customer{
    width: 15vw;
    padding-right: 10vw;
}
.review{
    font-size: 1.7vw;
    padding-top: 5vh;
    line-height: 3vw;
    color: rgba(0,0,0,0.8);
}
.name{
    color: #E56717;
    padding-top: 5vh;
    font-size: 1.7vw;
}
.arrows{
    position: relative;
    right: 5vw;
    display: flex;
    justify-content: center;
}
.div-right{
    padding: 1vw 2vw 1vw 0;
}
.div-left{
    padding: 1vw 0 1vw 2vw;
}
.sixth-page{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 2vw;
}
.first-half{
    display: flex;
    flex-direction: column;
}

.one{
    display: flex;
}
.one-one,.one-two{
    display: flex;
    flex-direction: column;
}
.one-two{
    padding-left: 4vw;
}
.home{
    font-size: 1.7vw;
    /*text-decoration: line-through;*/
    color: rgba(255,255,255,0.6);
    line-height: 2.3vw;
}
.features,.support,.terms-of-use,.about-us,.career{
    font-size: 1.7vw;
    color: rgba(255,255,255,0.6);
    line-height: 2.3vw;

}
.contact-email,.contact-call{
    color: white;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 300;
}
.hr-contact{
    position: relative;
    left: 6vw;
    border-width: 0;
    background-color: rgba(255,255,255,0.7);
    height: 0.1vh;
    width: 25vw;
}
.text-privacy-policy,.text-terms-of-use{
    color: rgba(255,255,255,0.6);
    font-size: 1.2vw;
    font-weight: 400;
}
.three{
    display: flex;
    align-items: flex-start;
}
.three-two{
    padding-left: 5vw;
}
.four{
    display: flex;
    text-align: center;
}
.text-copyright{
    color: rgba(255,255,255,0.6);
    font-size: 1.3vw;
    font-weight: 400;
    margin: 3vh 0 0 0;
}
.second-half{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.second-one{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-why-be-shy{
    color: white;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    line-height: 5.8vw;
    font-size: 4.5vw;
    font-weight: 200;
    margin: 0;
}
.text-say-hi{
    color: white;
    font-size: 6vw;
    margin: 0;
    font-weight: 500;
}
#dot{
    color: #E56717;
    font-size: 5vw;
    margin: 0;
}
.second-two{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 8vh;
}
.text-linkedin{
    color: white;
    font-size: 3vw;
    letter-spacing: 0.2vw;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-right: 2vw;
    font-weight: 300;
    margin: 0;
}
.img-linkedin{
    margin: 0;
    width: 3vw;

}
.second-two-one,.second-two-two{
    display: flex;
    flex-direction: row;
}
.second-two-two{
    padding-top: 2vh;
}
.second-three{
    display: flex;
    flex-direction: column;
}