body{
    margin: 0;
}
.first{
    background-image: url("image 2Front page .png");
    font-family: Open Sans;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
}
.rd{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.img-rd{
    width: 18%;
}
.div-calls-redirect{
    display: flex;
    position: relative;
    top: 4.15vh;
    left: 4.15vw;
    width: 12vw;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-calls{
    margin: 0;
    color: white;
    font-size: 1.5vw;
}

.text-redirect{
    margin: 0;
    color: #E56717;
    font-size: 1.5vw;
}
