.third-page{
    background-image: url("page3.svg");
    background-repeat: no-repeat;
    font-family: "Open Sans";
    display: flex;
}
.third-one{
    display: flex;
    flex-direction: column;
}
.third-one-one,.third-one-two{
    display: flex;
    padding: 7vh;
}
.third-one-one-one,.third-one-one-two,.third-one-two-one,.third-one-two-two{
    padding: 5vh;
}
.text-select-country,.text-area-code{
    color: white;
    font-weight: 300;
    font-size: 3vw;
}
#area-code,#country{
    padding: 1vw;
    margin-top: 5vh;
    background: rgba(0,0,0,0.6);
    border-width: 0;
    border-radius: 50px;
    font-size: 2vw;
    text-align: center;
    color: #E56717;
}
#country{
    margin-left: 2vw;
}