
.third-page{
    background-image: url(p3.png);
    background-repeat: no-repeat;
    margin: -1vw -0.5vw 0 -1vw;
    font-family: "Open Sans";
}
.third-page-pro{
    background: rgba(0,0,0,0.4);
    display: flex;flex-direction: row;
    padding: 10vw;
}
.pro-one{
    display: flex;
    flex-direction: column;
}
.pro-two{
    display: flex;
    align-items: center;
    padding-left: 15vw;
}
.pro-one-one,.pro-one-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text-search-country,.text-area-code{
    font-size: 3vw;
    color: white;
    font-weight: 300;
}
#country,#area-code{
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    color: #E56717;
    font-size: 1.5vw;
    height: 4vw;
    border-width: 0;
    text-align: center;
    margin-left: 5vw;
}
#country:focus,#area-code:focus{
    border: 1px solid #E56717;
    outline: none;
}
#submit{
    background-color: #E56717;
    border-radius: 30px;
    border-width: 0;
    text-align: center;
}
.text-submit{
    color: white;
    font-size: 2vw;
    padding-left: 2vw;
}
.button-content{
    display: flex;
    padding: 1vh 3vw 0.5vw 3vw;
    margin: 0;
}
.imgs-search{
    display: flex;
    position: relative;
    top: 1.3vw;
}
.glass{
    position: absolute;
    width: 2.2vw;
}
.face{
    position: relative;
    top: -1.8vw;
    left: 0.7vw;
    width: 0.7vw;
}